@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
    name: "light";
    --root-bg: #fafafa;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/*:root {*/
/*    --menu-active-fg: #000;*/
/*    --menu-active-bg: #fff;*/
/*}*/

/*.menu :where(li) > :not(ul, .menu-title, details, .btn):active{*/
/*    color: inherit;*/
/*    background-color: #efefef;*/
/*}*/

@layer components {
    .content-container {
        @apply w-full max-w-3xl mx-auto pt-10 px-4 sm:px-6 lg:px-8;
    }
}

@utility container {
    padding-inline: 1rem;
}


/*:root {*/
/*  !*--background: #ffffff;*!*/
/*  !*--foreground: #171717;*!*/
/*}*/

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*  --font-sans: var(--font-geist-sans);*/
/*  --font-mono: var(--font-geist-mono);*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  !*background: var(--background);*!*/
/*  !*color: var(--foreground);*!*/
/*  !*font-family: Arial, Helvetica, sans-serif;*!*/
/*}*/
